.vscode/launch.json
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
__pycache__/funcoes.cpython-37.pyc
__pycache__/constants.cpython-37.pyc
*.pyc
__pycache__/reproduction.cpython-37.pyc
__pycache__/*.pyc
__pycache__/first_generation.cpython-37.pyc
__pycache__/constantes.cpython-37.pyc
__pycache__/constants.cpython-37.pyc
__pycache__/first_generation.cpython-37.pyc
__pycache__/graphics.cpython-37.pyc
__pycache__/ranking.cpython-37.pyc
__pycache__/reproducao.cpython-37.pyc
__pycache__/reproduction.cpython-37.pyc
*.pyc~5a081bd6f9a9b3b913e16a74b4b1d13733856f4e
